/* Estilos para el contenedor de las notificaciones */
#notification-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
  }
  
  .notification {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.5s;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .notification.success {
    background-color: #4CAF50;
  }
  
  .notification.error {
    background-color: #f44336;
  }
  
  .notification.warning {
    background-color: #ff9800;
  }
  