/* Mejorar la visibilidad del texto y los márgenes en pantallas pequeñas */
@media (max-width: 768px) {
    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.6rem;
    }

    .container-fluid {
        padding: 10px;
    }

    .form-container {
        padding: 20px; /* Menos espacio en pantallas pequeñas */
    }

    .form-group {
        margin-bottom: 15px; /* Espacio más ajustado */
    }

    button {
        width: 100%; /* Botón a ancho completo en móviles */
    }

    #establecimientos-lista li {
        padding: 10px; /* Menos espacio entre elementos */
    }
}
