/* Header */
header {
    background-color: #141b22;
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 1.5em;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    font-weight: normal; /* Asegura que no haya negrita */
}

header i {
    margin-right: 10px;
    font-weight: normal; /* Asegura que no haya negrita en los iconos */
}
