/* Información del Restaurante */
.info-restaurante {
    background-color: #fff;
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-weight: normal; /* Asegura que no haya negrita */
}

.info-restaurante p {
    margin: 10px 0;
    font-weight: normal; /* Asegura que no haya negrita en los párrafos */
}

.info-restaurante strong {
    color: #2c3e50;
    font-weight: normal; /* Asegura que el texto en strong no esté en negrita */
}
