/* Variables */
:root {
    --success-color: #2ecc71;
    --error-color: #e74c3c;
    --text-color: #fff;
    --notification-padding: 16px 24px;
    --notification-radius: 8px;
    --font-size: 1rem;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    --transition-time: 0.5s;
  }
  
  /* Estilos generales para notificaciones */
  .notification,
  .error-message {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: var(--notification-padding);
    border-radius: var(--notification-radius);
    font-size: var(--font-size);
    width: calc(100% - 40px); /* Ancho dinámico */
    max-width: 400px;
    color: var(--text-color);
    z-index: 1000;
    box-shadow: var(--box-shadow);
    transition: opacity var(--transition-time) ease, transform var(--transition-time) ease;
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño */
  }
  
  /* Notificación exitosa */
  .notification {
    background-color: var(--success-color);
  }
  
  /* Notificación de error */
  .error-message {
    background-color: var(--error-color);
  }
  
  /* Estado de ocultar notificaciones */
  .notification.hide,
  .error-message.hide {
    opacity: 0;
    transform: translateX(-50%) translateY(20px); /* Desliza hacia abajo cuando se oculta */
  }
  