/* --- Definición de Variables CSS para las Categorías de Badges --- */
:root {
    --color-entrada: #007bff; /* Azul para la categoría de entrada */
    --color-menu: #28a745; /* Verde para la categoría de menú */
    --color-combo: #fd7e14; /* Naranja para la categoría de combo */
    --color-postre: #e83e8c; /* Rosa para la categoría de postre */
    --color-bebida: #6f42c1; /* Púrpura para la categoría de bebida */
    
    --color-texto-blanco: #ffffff; /* Blanco para el texto */
    --color-borde-focus: #0056b3; /* Azul oscuro para el borde de enfoque */
}

/* --- Estilos Generales para los Badges --- */
td .badge {
    padding: 8px 16px; /* Aumento del tamaño del padding para badges más grandes */
    border-radius: 6px; /* Bordes más redondeados */
    color: var(--color-texto-blanco); /* Blanco para el texto */
    font-weight: bold;
    font-size: 1rem; /* Aumento del tamaño de la fuente */
    display: inline-block; /* Hace que el badge se comporte como un bloque en línea */
    text-align: center; /* Asegura que el texto dentro del badge esté centrado */
    vertical-align: middle; /* Centra el badge verticalmente en la celda */
    margin: 0 auto; /* Centra el badge horizontalmente en su contenedor */
    transition: opacity 0.3s, box-shadow 0.3s ease; /* Transición para efectos suaves */
}

/* --- Estilos Específicos para cada Tipo de Badge --- */
.badge-entrada {
    background-color: var(--color-entrada); /* Azul para entrada */
}

.badge-menu {
    background-color: var(--color-menu); /* Verde para menú */
}

.badge-combo {
    background-color: var(--color-combo); /* Naranja para combo */
}

.badge-postre {
    background-color: var(--color-postre); /* Rosa para postre */
}

.badge-bebida {
    background-color: var(--color-bebida); /* Púrpura para bebida */
}

/* Estilo para el badge con la clase 'badge-default' */
.badge-default {
    background-color: #000000; /* Un color gris claro como fondo */
    color: #333; /* Texto de color oscuro */
    border: 1px solid #999; /* Un borde gris suave */
  }

/* --- Efectos Adicionales (opcional, para mejorar la interacción) --- */
td .badge:hover {
    opacity: 0.85; /* Opacidad reducida al pasar el ratón */
    cursor: pointer; /* Cambio de cursor para indicar interacción */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil para el hover */
}

td .badge:focus-visible {
    outline: 2px solid var(--color-borde-focus); /* Borde azul oscuro al enfocar */
    outline-offset: 2px; /* Distancia del borde al contenido */
    box-shadow: 0 0 10px 2px rgba(0, 86, 179, 0.5); /* Sombra para mejorar el enfoque */
}

td .badge:focus {
    outline: none; /* Elimina el contorno por defecto del navegador */
}
