/* --- Variables de Colores --- */
:root {
    --color-primario: #3498db; /* Color primario */
    --color-secundario: #2ecc71; /* Color secundario */
    --color-acento: #e67e22; /* Color de acento */
    --color-error: #e74c3c; /* Color de error */
    --color-claro: #ffffff; /* Color claro (blanco) */
    --color-blanco: #ffffff; /* Color blanco */
}

/* --- Estilos Generales para los Botones --- */
button {
    background-color: var(--color-primario);
    color: var(--color-claro);
    font-size: 0.9rem; /* Reducido para hacer los botones más pequeños */
    padding: 8px 16px; /* Reducido para botones más compactos */
    border: none;
    border-radius: 4px; /* Radio de borde más pequeño para un diseño más moderno */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease-in-out; /* Agregado un pequeño efecto de transformación */
    display: inline-flex; /* Utiliza flexbox para centrar el contenido */
    justify-content: center; /* Centra el texto horizontalmente */
    align-items: center; /* Centra el texto verticalmente */
    min-width: 120px; /* Ancho mínimo común para todos los botones */
    text-align: center; /* Asegura que el texto esté centrado */
}

/* --- Efecto Hover en los Botones Generales --- */
button:hover {
    background-color: var(--color-secundario); /* Cambia el color al pasar el mouse */
    transform: scale(1.05); /* Efecto de agrandamiento al pasar el mouse */
}

/* --- Botón Editar --- */
button[data-accion="editar"] {
    background-color: var(--color-acento);
    color: var(--color-blanco);
}

button[data-accion="editar"]:hover {
    background-color: var(--color-acento);
    color: var(--color-blanco);
}

/* --- Botón Activar --- */
button[data-estado="activar"] {
    background-color: var(--color-acento);
    color: var(--color-blanco);
}

button[data-estado="activar"]:hover {
    background-color: var(--color-acento);
    color: var(--color-blanco);
}

/* --- Botón Desactivar --- */
button[data-estado="desactivar"] {
    background-color: var(--color-error);
    color: var(--color-blanco);
}

button[data-estado="desactivar"]:hover {
    background-color: var(--color-error);
    color: var(--color-blanco);
}
